

/* Font Poppins using google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Custom Variables */
:root {
    --primary-font: "Poppins", serif;
    --section-title-color-pri: #3A3A3A; 
    
}

/* body styles */
body {
        font-family:var(--primary-font);
        font-size: 16px; 
        font-weight: 400;
        font-style: normal;
}

/* Shared Classes */
.btn-pri {
    color: white;
    background-color: #E02C6D;
    font-weight: bold;
    border: 0;
    padding: 2% 5%;
}

/* Header & Main Styles*/
header, main {
    margin: 5vh 5vw;
}

/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
}

nav h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--section-title-color-pri);
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin-right: 5vw;
   
}

nav li {
    list-style: none;
    white-space: nowrap;
    margin-right: 6%;
    font-weight: 600;
    color: var(--section-title-color-pri);
}


/* Banner Section */

.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center left 99%;
    background-size: 475px;
    height: 480px;
    
    
    
}

.banner h1 {
    font-weight: bold;
    font-size: 3.25rem;
    color: var(--section-title-color-pri);
    max-width: 582px;
}

.banner p {
    font-weight: 600;
    color: var(--section-title-color-pri);
    max-width: 505px;
}

.banner .btn-pri {
    max-width: 200px;
    border-radius: 41px;
}

.banner img {
    max-width: 835px;
    position: relative;
    right: 9%;
    top: 4%;
}



/* Sponsors logos */
.sponsors-logo {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    height: 110px;
    
}

.sponsors-logo img {
    max-width: 5%;
}

/* Main Styles */
main .section-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.75rem;
    color: var(--section-title-color-pri);
}

main .item-cards-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}

main .item-card {
    max-width: 329px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
  
}

.item-card img {
    max-width: 90%;
    /* margin: 4% 5%; */
}

.item-card img, .item-card h2, .item-card p {
    margin: 4% 5%;
}

.item-card .item-name {
    font-weight: 500;
    font-size: 1.75rem;
    color: #18191F;
}

.item-card .item-price {
    font-size: 1.5rem;
    color: black;
}

.item-card .item-rating{
    font-size: 0.8rem;
    font-weight: bold;
    color: #5E6366;
}


.item-card .item-desc {
    font-weight: bold;
    color: #787885;
    font-size: 0.8rem;
    max-width: 60%;
}